@import url('https://fonts.googleapis.com/css?family=Courgette:100,300,400,400italic,500,700&amp;display=swap');

:root{
    --third: #130f40;
    --bg: #f2f2f2;
    --light-bg:#eee; 
    --black:#141414; 
    --black2: #222; 
    --prymary: #007bff; 
    --secondary: rgb(229, 233, 236); 

   --light-black:#666; 
   --fourth: rgb(195, 198, 201); 
   --fifth: rgb(216, 223, 231); 
   --sixth:#f0fff7;
   --white: #fff; 
   --border: rgb(94, 94, 94);
   --celete: rgb(0, 141, 248); 
   --celestedos: rgb(108, 174, 224);
}

*{
   font-family: 'Courgette',sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none; text-decoration: none;
  /* text-transform: capitalize; */
   transition: .2s linear;
} 

body {
    background-color: var(--light-bg);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background: var(--white);
}

html::-webkit-scrollbar-thumb{
   background: var(--celete);
}

section{
   padding: 3rem 9%;
}

.heading{
   text-align: center;
   color: var(--third);
   text-transform: uppercase;
   margin-bottom: 4rem;
   margin-top: 2rem;
   font-size: 4rem;
}

.btn{
   display: inline-block;
   margin-top: 2rem;
   padding: 1rem 2rem; 
   border-radius: .5rem;
   cursor: pointer;
   font-size: 1.7rem;
   color: var(--white); 
   background-color: var(--celete); 
   /* margin-right: 10px; 
   margin-left: 10px;
   border: .1rem solid var(--third); */
} 

.btn:hover{
   background: var(--white);
   color: var(--celete);
}

/* header */ 

.header{
   position: fixed;
   top: 0; left: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem 7%;
   background: var(--light-bg);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

.header .logo{
   font-size: 2.2rem;
   font-weight: bolder;
   color: var(--third);
}

.header .navbar a{
   font-size: 1.7rem;
   margin-left: 2rem;
   color: var(--third);
}

.header .navbar a:hover{
   color: var(--celete);
}

#menu{
   font-size: 2.5rem;
   cursor: pointer;
   color: var(--third); 
   display: none;
}

/* end */ 

/* Start Home */
.home{
    padding: 0;
    margin-top: 60px;
}

.home .slide{
    min-height: 80vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1; 
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.1;
    padding: 2rem 0;
}

/*
.swiper-button {
    height: 10rem;
    width: 10rem; 
}

.swiper-button-next,
.swiper-button-prev {
    height: 6rem;
    width: 6rem;
    line-height: 5rem; 
    background: var(--white);
    padding: 25px;
    border-radius: 20%;
    margin-left: 20px;
    margin-right: 20px; 
    
} */

/* 
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--prymary);
    color: var(--white); 
} 

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
} */
/* End Home */ 

/* media queries */

@media (max-width:1023px){
    
    html{
        font-size: 55%;
    } 

    /* 
    .header{
        padding: 2.5rem 3rem;
    } */

    .home {
        padding: 0;
        margin-top: 60px;
    } 
    
    main {
        margin-top: 0px; 
        padding: 0;
    }

}

@media (max-width: 768px){
    .home {
        margin-top: 60px;
    } 

    #menu {
        display: inline-block;
    } 

    #menu-btn{
        display: inline-block;
    }
    .header {
        padding-right: 7%;
    }

    .header .navbar{
        position: absolute;
        top: 110%; 
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem; 
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear; 
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content{
        width: 50rem;
    } 

.swiper-button-next,
.swiper-button-prev {
    margin-left: 0px;
    margin-right: 0px;
} 

.about .heading {
    margin-bottom: 1rem;
} 


.about .row .content{ 
    text-align: center;
 } 


.contact .row .map{
    width: 90%; 
    height: 350px;
} 



}

@media (max-width: 450px){

    /*
    html{
        font-size: 50%;
    } */

    #home {
        margin-top: 55px;
    }
    /*
    .header {
        padding: 3rem;
    } */

    .home .slide .content{
        width: 40rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    } 


} 
/* ---------------------------------------------- */
/* ---------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
}
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
/* about */ 

.about {
    background-color: var(--bg);
 }
 
 .about .row{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0px; /* lleva el texto hacia abajo */
    gap: 2rem; /* separa la imagen del texto  */
 }
 
 .about .row .content{
    flex: 1 1 40rem; 
 }
 /*
 .about .row .content h3{
    font-size: 3.5rem;
    color: var(--black);
    text-transform: uppercase;
 } */
 
.about .row .content p{
    font-size: 2rem;
    color: var(--black);
    padding: 2rem 0;
    line-height: 2;
}
 
 .about .row .image{ 
    /* margin-top: 50px; */ 
    flex: 1 1 38rem; /* original 40rem */ 
 }
 
 .about .row .image img{
    width: 100%; 
    margin: 0 auto;
    border-radius: 20px;
 }
 /* end */
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
.slider {
    background-color: var(--bg);
}
.slider ul{ 
    padding: 0;
    list-style: none;
    display: flex;
    width: max-content;
    animation: runSlider 5s linear infinite;
}
.slider img{
    width: 100px;
    height: 80px;
    margin-right: 10px;
}
.slider li{
    width: 150px;
    letter-spacing: 1px;
    font-family: monospace;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 10px;
    margin-right: 5px;
} 

.slider p {
    font-size: 24px;
}

.slider{
    overflow: hidden;
}
@keyframes runSlider{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(calc(-165px * 7));
    }
} 
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
/* gallery */
#gallery {
    background-color: var(--bg);
}
.gallery .gallery-slider .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 40rem;
    width: 30rem;
}

.gallery .gallery-slider .swiper-slide img{
    height:100%;
    width: 100%;
    object-fit: cover;
} 
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 

/* review */

.review{
    background: var(--bg);
}

.review .review-slider{
    padding: 1rem;
}

.review .slide{
    background: var(--white);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem; 
    box-shadow: var(--box-shadow);
    transition: .2s linear; 
    flex-direction: column;
}

.review .slide img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .slide p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.7rem;
}

.review .slide h3 {
    padding-bottom: .5rem;
    color: var(--primary);
    font-size: 2.2rem;
}

.review .slide .stars i{
    color: gold;
    font-size: 1.7rem;
}

/* review end*/ 
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 

.containerfp {
    padding: 3rem 7%; 
    background-color: var(--bg);
 }
 
 .containerfp .heading{
    font-size: 4rem;
    padding: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
 }
 
 .containerfp .accordion-containerfp{
    padding: 0 1.2rem;
 }
 
 .containerfp .accordion-containerfp .accordion{
    margin-bottom: 1.2rem;
    cursor: pointer;
 }
 
 .containerfp .accordion-containerfp .accordion.active .accordion-heading{
    background: var(--light-bg);
 }
 
 .containerfp .accordion-containerfp .accordion.active .accordion-heading h3{
    color: var(--third);
 }
 
 .containerfp .accordion-containerfp .accordion.active .accordion-heading i{
    color: var(--third);
    transform: rotate(90deg);
    transition: transform .2s .1s;
 }
 
 .containerfp .accordion-containerfp .accordion.active .accordion-content{
    display: block;
 }
 
 .containerfp .accordion-containerfp .accordion .accordion-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-bg);
    padding: 1rem 1.2rem;
 }
 
 .containerfp .accordion-containerfp .accordion .accordion-heading h3{
    font-size: 2rem;
    text-align: center; 
    color: var(--third);
 }
 
 .containerfp .accordion-containerfp .accordion .accordion-heading i{
    font-size: 1.5rem;
 }
 
 .containerfp .accordion-containerfp .accordion .accordion-content{
    padding: 1rem 1.2rem;
    font-size: 1.8rem;
    background: var(--primary);
    border-top: 0;
    display: none;
    line-height: 2;
    animation: animate .2s linear backwards;
    transform-origin: top;
    text-align: center;
 }
 
 @keyframes animate{
    0%{
        transform: scaleY(0);
    }
 } 
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
/* contact */
#order {
    background-color: var(--bg);
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem; 
    
}

.contact .row form{
    padding: 2rem;
    border: .1rem solid rgba(0,0,0,.1);
    flex: 1 1 40rem;
    border-radius: .5rem; 
    background-color: var(--light-bg);
}

.contact .row form h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: var(--color);
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input{
    width: 49%; 
} 

.inputBox {
    position: relative;
    margin-bottom: 20px;
  }
  
  .inputBox label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 14px;
    transition: all 0.2s;
    pointer-events: none;
  }
  
  .inputBox input:focus + label,
  .inputBox input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

#largo {
    width: 100%; 
    color: red;
}

.contact .row form .inputBox .box,
.contact .row form textarea{
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border: .1rem solid rgba(0,0,0,.1);
    color: #222;
    text-transform: none;
    margin: .7rem 0;
    border-radius: .5rem;
}

.contact .row form textarea{
    width: 100%;
    height: 15rem;
    resize: none;
}
/*
.contact .row form .btn{
    background: none;
} */

.contact .row form .btn:hover{
    background: var(--color);
}

.contact .row .map{
    flex: 1 1 40rem;
}

/* end */


/* order 

.order form{
    padding: 2rem;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.order form .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.order form .box-container .box{
    flex: 1 1 41rem;
}

.order form .box-container .box .inputBox input,
.order form .box-container .box .inputBox textarea{
    width: 100%;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: var(--black);
    border: var(--border);
}

.order form .box-container .box .inputBox input::placeholder,
.order form .box-container .box .inputBox textarea::placeholder{
    text-transform: capitalize;
}

.order form .box-container .box .inputBox input:focus,
.order form .box-container .box .inputBox textarea:focus{
    background: var(--main-color);
    color: var(--white);
}

.order form .box-container .box .inputBox input:focus::placeholder,
.order form .box-container .box .inputBox textarea:focus::placeholder{
    color: #ccc;
}

.order form .box-container .box .inputBox textarea{
    height: 20rem;
    resize: none;
}

.order form .box-container .box .inputBox .map{
    height: 20rem;
    width: 100%;
    margin: 1rem 0;
    border: none;
}

.order form .box-container .box .inputBox span{
    color: var(--main-color);
    font-size: 2rem;
} */
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
/* footer */

.footer{
    background: url(./img/13-footer/footer.png); 
    margin-top: 2rem;
    text-align: center; 
}

.footer .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .icons-container .icons{
    text-align: center;
    padding: 1rem 2rem;
}

.footer .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: var(--celete);
    color: var(--light-bg);
    margin-bottom: .5rem;
    line-height: 5.8rem;
    font-size: 3rem;
}

.footer .icons-container .icons h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
    text-transform: capitalize;
}

.footer .icons-container .icons p{
    line-height: 1.5;
    font-size: 1.8rem;
    color: var(--black2);
    text-transform: capitalize;
}

.footer .icons-container .icons .link{
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--celete);
    padding: .5rem 0;
    display: block;
}

.footer .icons-container .icons .link:hover{
    color: var(--third);
    text-decoration: underline;
}

.footer .share{
    margin: 1rem 0; 
    background: url(./img/13-footer/footer.png); 
}

.footer .share a{
    height: 6rem;
    width: 6rem;
    line-height: 5.8rem;
    color: var(--white);
    background: var(--celete);
    margin: 0 .3rem;
    font-size: 2.5rem; 
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--white); 
    color: var(--celete);
}
/*
.footer .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--third);
} 

.footer .credit span{
    color: var(--celete); 
    cursor: pointer;
} */
/* ---------------------------------------------- */ 
/* ---------------------------------------------- */ 
